<h1 class='title'>Calendar</h1>
<section class='nav'>
	<select class='month'
	    ng-model='selectedDate.month' ng-change="dateChanged()">
		<option ng-selected="{{month == selectedDate.month}}" ng-repeat="month in optionMonths" value="{{month}}">{{month}}</option>
	</select>
	<select class='year'
	    ng-model='selectedDate.year' ng-change="dateChanged()">
		<option ng-selected="{{year == selectedDate.year}}" ng-repeat="year in optionYears" value="{{year}}">{{year}}</option>
	</select>
</section>
<section class='calendar-heading'>
	<div class='weekdays'>
		<p>Sunday</p>
	</div>
	<div class='weekdays'>
		<p>Monday</p>
	</div>
	<div class='weekdays'>
		<p>Tuesday</p>
	</div>
	<div class='weekdays'>
		<p>Wednesday</p>
	</div>
	<div class='weekdays'>
		<p>Thursday</p>
	</div>
	<div class='weekdays'>
		<p>Friday</p>
	</div>
	<div class='weekdays'>
		<p>Saturday</p>
	</div>
</section>
<section>
	<div class='calendar-container'></div>
</section>